@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link href="~/css/Estilos.css" rel="stylesheet" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/fc0e7e3519.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="otraCabecera">
        <label class="IniciarSesion">Clínica SaludTotal</label>
        <i class="fas fa-clinic-medical"></i>
    </div>
    <label class="titulo">ADMINISTRADOR LOGIN</label>
    <form class="IniciarSesion">
        <div class="IniciarSesion">
            <input class="IniciarAdministrador" type="text" placeholder="User" name="usuA" required /><br />
            <input class="IniciarAdministrador" type="password" placeholder="Password" name="contraA" required /><br />
            <button class="IniciarAdministrador">LOGIN</button>
            <button class="IniciarAdministrador" asp-action="Inicio">RETURN</button>
        </div>
    </form>
</body>
</html>
