@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link href="~/css/Estilos.css" rel="stylesheet" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/fc0e7e3519.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="otraCabecera">
        <label class="IniciarSesion">Clínica SaludTotal</label>
        <i class="fas fa-clinic-medical"></i>
    </div>
    <label class="titulo">PACIENTE LOGIN</label>
    <form class="IniciarSesion">
        <div class="IniciarSesion">
            <input class="IniciarPaciente" type="text" placeholder="User" name="usuP" required /><br />
            <input class="IniciarPaciente" type="password" placeholder="Password" name="contraP" required /><br />
            <button class="IniciarPaciente">LOGIN</button>
            <button class="IniciarPaciente" asp-action="Inicio">RETURN</button>
        </div>
    </form>
</body>
</html>